.body-completo{
    background-color: black;    
}
.body-container{
    max-width: 900px;
    margin: auto;
}
.bannerSup-nav-Link {
    color: rgb(255 186 59);
    font-family: "hodor";
    font-size: 25px;
    margin: 5px;
    text-decoration: none;
    padding: 13px;
    padding-bottom: 18px;
    border-radius: 5px;
    border: 3px solid #ad6c07c9;
    background-color: #942100;
}
.img-bnr-fondo{
    height: 100%;   
}
.colum-izq{
    height: 500px;
    background-image: url(./IMG/img-HP-byn.png);
    background-clip: border-box;
    background-size: auto 100%;
    background-position: bottom right;
}
.colum-ppal{
    width: 100%;
    background-image: url(./IMG/img-bkg-Hgw.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
  
}
.colum-iz-nav-links a{
    padding: 5px;
    margin-bottom: 20px;
    color:  rgb(255 186 59);
    font-family: "hodor";
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
    
}

footer{
    background-color: #942100;
    padding: 20px;
    text-align: center;
}
.copyright{
    font-family: "harry-potter";
    color: rgb(255 186 59);
}

/*FLEX*/
.header-Ppal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerSup-nav{
    display: flex;
    justify-content: space-around;
    flex-basis: 70%;
}

.img-bnr-fondo{
    display: flex;
    justify-items: end;    
}
main{
    display: flex;
}
.colum-izq{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.colum-iz-nav-links{
    display: flex;
    flex-basis: 15%;
    flex-direction: column;
    align-items: center;

}
.img-Carrousel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*MEDIA*/
