.body-completo{
    background-color: black;    
}
.body-container{
    max-width: 900px;
    margin: auto;
}
.bannerSup-nav-Link {
    color: rgb(255 186 59);
    font-family: "hodor";
    font-size: 25px;
    margin: 5px;
    text-decoration: none;
    padding: 13px;
    padding-bottom: 18px;
    border-radius: 5px;
    border: 3px solid #ad6c07c9;
    background-color: #942100;
}
.img-bnr-fondo{
    height: 100%;   
}
.colum-izq{
    height: 500px;
    background-image: url(./IMG/img-HP-byn.png);
    background-clip: border-box;
    background-size: auto 100%;
    background-position: bottom right;
}
.colum-iz-nav-links a{
    padding: 5px;
    margin-bottom: 20px;
    color:  rgb(255 186 59);
    font-family: "hodor";
    font-size: 18px;
    margin: 5px;
    text-decoration: none;    
}
.colum-ppal{
    width: 100%;
    background-image: url(./IMG/img-bkg-Hgw.png);
    background-size: auto 100%;
    background-repeat: no-repeat;  
}
.izq, .der{
    width: 50%;
    padding: 10px;
    color: rgb(255 186 59);
    font-family: "hodor";
    font-size: 15px;
    margin: 5px;
    text-decoration: none;
} 
.formulario h1{
    letter-spacing: 3px;
    font-size: 25px;
    text-align: center;
}
.formulario h1:hover{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.formulario input, textarea, button{
    width: 98%;
    background-color: #94200000;
    border-color: darkgoldenrod;
    color: rgb(226, 226, 226);
}
.formulario button{
    background-color: #942100;
    font-weight: bold;
    margin-inline-start: 5px;
}
.formulario button:hover{
    scale: 105%;
}
.formulario{
    height: auto;
    background-color: rgba(19, 0, 0, 0.75);
    padding: 10px;
    line-height: 1.5;
    letter-spacing: 2px;
}
#info{
    width: 10px;
}
.der{
    width: 50%;
    
}
#datos{
    height: 50%;
    letter-spacing: 2px;    
    background-color: rgba(19, 0, 0, 0.75);
    padding: 10px;
    line-height: 1.5;
}
#datos h1{
    font-size: 20px;
    text-align: center;
}
#datos h1:hover{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.sitios{
    background-color: rgba(19, 0, 0, 0.75);
       
    line-height: 1.5;
    color: rgb(255 186 59);
    font-family: arial;   
}
.link{
    padding-left: 20%;
}
.link a:hover, .link p:hover{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.link a:link, a:visited{
    color: rgb(255 186 59);
}
.img-stars{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
    z-index: -1;
}
footer{
    background-color: #942100;
    padding: 20px;
    text-align: center;
}
.copyright{
    font-family: 'Harry Potter', sans-serif;                                                
    color: rgb(255 186 59);
}

/*FLEX*/
.header-Ppal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerSup-nav{
    display: flex;
    justify-content: space-around;
    flex-basis: 70%;
}

.img-bnr-fondo{
    display: flex;
    justify-items: end;    
}
main{
    display: flex;
}
.colum-izq{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.colum-iz-nav-links{
    display: flex;
    flex-basis: 15%;
    flex-direction: column;
    align-items: center;
}
.colum-ppal{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.izq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/*MEDIA*/